myenv/lib/
myenv/bin/
myenv/include/
.DS_Store
db.sqlite3
*.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
.env
**/migrations/
mysite/codes/
mysite/inputs/
mysite/outputs/
mysite/testcases/
mysite/.env
mysite/db.sqlite3