# Bytecode and cache
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Virtual environment
myenv/
env/
.venv/
venv/

# Django secret settings (if you create this)
.env
local_settings.py

# Migration cache
*/migrations/__pycache__/

# Logs
*.log


# VSCode and PyCharm
.vscode/
.idea/

# Compiled or temporary files
*.swp
*.bak

.DS_Store
db.sqlite3
migrations
__pycache__
codes
inputs
outputs
testcases